/target/
*.iml
.idea/
.settings/
.classpath
.project
target/
output/
tmp/

documents/
json_output/
junit_xml/
test-outout/
*.exe
*.trace
*.pprof
.vscode/

### STS ###
.apt_generated
.factorypath
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/archive/
